*,*:before,*after {
	box-sizing: border-box;
	position: relative;
}
html, body{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	height: 100%;
	background:purple;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
img{
	width: 50%;
	border-radius: 50%;
}
h1{
	font-size: 50px;
}
div a{
	text-decoration:none;
}
div a img{
	width: 60px;

}